:root {
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #f4f6ff;
  /* background-color: #171717; */
  background: linear-gradient(to bottom, #121212,#141414);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #646cff;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
