:root {
  --primary: 128, 159, 255;
  --bg: 200, 200, 200;
  --card-bg: 255, 255, 255;
  --text: 0, 0, 0;
  --hover-bg: 235, 235, 235;
  --inv-hover-bg: 50, 50, 50;
  --border-thickness: 6px;

  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: rgb(var(--text));
  /* background-color: #171717; */
  background: rgb(var(--bg));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --bg: 20, 20, 20;
  --text: 255, 255, 255;
  --card-bg: 35, 35, 35;
  --hover-bg: 50, 50, 50;
  --inv-hover-bg: 235, 235, 235;
  color: rgb(var(--text));
  background: rgb(var(--bg));
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
